header{
    width: 100%;
    height: 70px;    
    box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)    
}

.logo{
    width: 30%;
    height: 70px;
    float: left;
    margin-top: 9px;
    margin-left: 40px;
}

#fondo{
    width: 100%;
    margin-bottom: 20px;
    
}

body{
    background-image: url('../Imagenes/Fondo.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
    z-index: -1;   
}

ul{
    margin-right: 60px;
}

li{
    margin-top: 15px;
    margin-right: 60px; 
}

#texto{
    color: white;
}

button{
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    height: 40px;
    margin-top: 15px;
}

#h1_tituloinicio{
    color: #FFFFFF;
    font-size: 50px;
    position: relative;
    right: 10%;    
}

/*=======INICIO CARRUSEL=======*/
* {
    box-sizing: border-box
  }
  
  body {
    font-family: Verdana, sans-serif;
  }
  
  .mySlides {
    display: none
  }
  
  .mySlides:nth-child(1) {
    display: block
  }
  
   /* Contenedor de diapositivas */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
   /* Botones siguiente y anterior */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
   /* Coloque el botón "Siguiente" a la derecha */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
   /* Texto del título */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
   /* Texto numérico (1/3 etc.) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
   /* Símbolo de marca */
  .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
   /* Desvanecer animación */
  .fade1 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0
    }
  
    to {
      opacity: 1
    }
  }
  
  @keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }

/*=======FIN CARRUSEL=======*/

footer{
    background-color:#102461;
    height: 40%;
    width: 100%;
    position: absolute;
}

#h4_contactenos{
    color: #FFFFFF;
    position: relative;
    left: 3%;  
    margin-top: 5px;  
}

.h5_detalles_footer{
    color: #FFFFFF;
    position: absolute;             
    width: 100px;
    margin-left: 10%; 
    margin-top: 10px;
}

.footer_h5{ 
    margin-left: 50%;    
    margin-top: 10px;
    position: absolute;  
}

.img_footer{
    margin-left: 75%;    
    margin-top: 60px;
}

.espacio_img{
    margin-left: 40px; 
}

.p_footer{
    margin-top: 100px;
    color: white;
    text-align: center;
}

