.modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    width: 320px;
    height: 380px;
    margin: auto;
    margin-top: 50px;
    background-color: #102461;
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: 0px 0px 6px 6px #000e2979;
    border: 1px solid #d0d0d0;
}

.modal-title{
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;    
}

.alert{
    width: 320px;
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: -35px;
}

.grupo{
    position: relative;
    margin: 37px;
    top: 20px;    
}

#grupoc{
    top: 30px;
}

input{
    background: none;
    color: #ffffff;    
    display: block;
    width: 110%;
    margin: auto;
    margin-left: -13px;
    border: none;
    border-bottom: 1px solid #ffffff;  
    margin-top: -10px;  
    font-family: Calibri, sans-serif;  
    font-size: 16px;         
}

.texto{
    color: #ffffff;
    left: 35px;
    top: 8px;
}

input:focus{
    outline: none;
    color: #ffffff;            
}

input:focus~label,
input:valid~label{
    position: absolute;
    top: -23px;
    font-size: 16px;
    color: #78788c;    
    font-family: Calibri, sans-serif;
}

label{
    color: #78788c;
    font-size: 13px;
    position: absolute;
    margin-left: -10px;
    top: -3px;
    transition: 0.3s ease all;    
    pointer-events: none;
    font-family: Calibri, sans-serif;
    font-size: 16px;
}

.btncontra{
    margin-top: 60px;
    left: 98px;
    box-shadow: 1px 1px 5px#000000;
    height: 45px;
    width: 115px;
    color: #102461;
    cursor: pointer;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.btncancelarc{
    position: absolute;
    margin-top: 180px;
    left: 10px;
    width: 120px;
    height: 30px;
    color: #102461;
    box-shadow: 1px 1px 5px#000000;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.btnguardarc{
    position: absolute;
    margin-top: 180px;
    height: 30px;
    width: 135px;
    color: #102461; 
    box-shadow: 1px 1px 5px#000000;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

/*************************************************************/

@media screen and (max-width: 575px) /*Celular*/
and (min-width: 481px){

    .alert{
        width: 320px;
        /*margin-left: 20px;
        margin-top: 40px;
        margin-bottom: -35px;*/
        margin: auto;
    }

    /*.modal-content{
        width: 300px;        
    }*/

}

@media screen and (max-width: 480px) /*Celular*/
and (min-width: 336px){

    .alert{
        width: 320px;
        /*margin-left: 20px;
        margin-top: 40px;
        margin-bottom: -35px;*/
        margin: auto;
    }
    .modal-content{
        width: 300px;
    }    

    .btncontra{        
        left: 90px;
    }
}

@media screen and (max-width: 335px) /*Celular*/
and (min-width: 311px){

    .modal-content{
        width: 300px;
    }   

    .alert{
        width: 295px;
        /*margin-left: 20px;
        margin-top: 40px;
        margin-bottom: -35px;*/
        margin: auto;
    }

    .btncontra{        
        left: 90px;
    }

}

@media screen and (max-width: 310px) /*Celular*/
and (min-width: 280px){
    
    .modal-content{
        width: 265px;
    }    

    .alert{
        width: 265px;
        /*height: 30px;
        padding-top: 3px;*/
        margin: auto;
    }

    .btncontra{
        margin-left: -25px;
    }    

    .btncancelarc{
        left: 3px;
        width: 110px;
    }   
    
    .btnguardarc{
        margin-right: -10px;
    }
}

