header {
    background-color: #102461;
    height: 100px;
}

.Nombreusuario {
    color: #FFFFFF;
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

.logo {
    width: 30%;
    height: 70px;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}

.imgRedonda {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 160px;
    border: 5px solid rgb(1, 151, 252);
}

#texto_atras {
    margin-left: 5%;
    margin-top: 0px;
    color: #102461;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

/****************************************************/
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -50px;
    width: 300%;
    height: 120%;
    background-color: #102461;
    /*opacity: 70%;*/
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

/******************************/
/* Importante Ocultar Menu Movil*/
.main-header {
    display: none;
}

#mosaicoDER {
    float: right;
    width: 120px;
    height: 120px;
}

.menu_general ul {
    margin-right: 70px;
}

.menu_general li {
    margin-top: 25px;
    margin-right: 50px;
    list-style: none;
    display: inline-block;

    margin-left: -50px;
}

#texto {
    color: white;
}

button {
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    height: 40px;
    margin-top: 15px;
    width: 13%;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden
}

.h4 {
    margin-left: 10%;
    margin-top: 60px;
    color: #102461;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

}

#searchInput {
    padding: 5px;
    width: 20%;
    margin-left: 35%;
}

/* Estilos para el botón de búsqueda */
#btnBuscarTabla {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border: 1px solid #78788c;
    background: #ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000;
    cursor: pointer;



    width: 150px;
    height: 40px;
}

.FondoEventosF {
    background-color: #181D43;
    width: 66%;
    height: 400px;
    margin-left: 24%;
    margin-top: 40px;
    padding: 10px;
    box-shadow: 0px 0px 4px 4px #000a1d67;
}

#MarcoHEF {
    width: 96%;
    margin-left: 2%;


}

.my-custom-scrollbar-3 {
    position: static;
    margin-top: 1%;
    height: 300px;
    /*width: 150px;*/
    overflow: auto;
}

#THistorialFeria tbody tr.selected {
    background-color: rgb(93, 91, 231);
    color: #FFFFFF
}

thead {
    color: rgb(0, 0, 0);
    background-color: #368dc7;

}

tbody {
    color: rgb(0, 38, 255);
    background-color: #ffffff;

}

#Anchio {
    background-color: #000000;
    display: none;

}

.NotaCamposDetE {
    color: #ffffff;
    float: left;
    margin-left: 31%;
    margin-top: -70px;
}

.btnEditaDetE {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border: 1px solid #78788c;
    background: #ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000;
    cursor: pointer;
    float: right;
    margin-right: 17%;
    margin-top: -80px;
    width: 150px;
    height: 50px;
}




#mosaicoIZQ {
    width: 120px;
    height: 120px;
    position: absolute;
}

/************************************************************************* INICIA FOOTER*/
.site-footer {
    background-color: #102461;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif, serif;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer .footer-links .fa {
    color: #ffffff;
    margin-right: 15px;
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif, serif;
    font-size: 150%;
    padding-bottom: 0.625rem;
    list-style: none;
}

.site-footer a {
    color: #fff;
    font-family: 'Montserrat', sans-serif, serif;
    font-size: 95%;
    padding-bottom: 0.625rem;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block;
    margin-top: 15px;
    margin-right: 60px;
}

.footer-links a {
    color: #ffffff
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #ffffff;
    color: #102461;
}

.copyright-text {
    margin: 0
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 10px;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #00476b;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.global:hover {
    background-color: #00aced
}

@media screen and (max-width: 2000px) and (min-width: 280px) {
    @media screen and (max-width: 1800px) and (min-width: 280px) {
        .FondoEventosF {
            width: 70%;
            height: 400px;

        }

        #mosaicoIZQ {
            position: relative;
            margin-bottom: -85px;
        }

        @media screen and (max-width: 1649px) and (min-width: 280px) {
            .FondoEventosF {
                width: 71%;
                height: 400px;

            }

            #mosaicoIZQ {
                position: relative;
                margin-bottom: -78px;
            }

            @media screen and (max-width: 1500px) and (min-width: 280px) {

                .h4_3ro,
                .h4_4to {
                    margin-left: 15%;

                }

                .FondoEventosF {
                    width: 72%;
                    height: 320px;
                    margin-left: 18%;

                }

                .FondoEventosF {
                    background-color: #181D43;
                    width: 80%;
                    height: 400px;
                    margin-left: 20%;
                }

                #mosaicoIZQ {
                    position: relative;
                    margin-bottom: -65px;
                }

                @media screen and (max-width: 1200px) and (min-width: 280px) {
                    .menu_general li {
                        margin-left: -60px;
                    }

                    .FondoEventosF {
                        width: 84%;

                    }

                    .btnEditaDetE {
                        margin-right: 6%;
                    }


                    #mosaicoIZQ {
                        position: relative;
                        margin-bottom: -55px;
                    }

                    @media screen and (max-width: 1043px) and (min-width: 280px) {


                        .FondoEventosF {
                            width: 90%;
                        }

                        .btnEditaDetE {
                            margin-right: 0%;
                        }

                        @media screen and (max-width: 1000px) and (min-width: 280px) {
                            .justify-content-end {
                                display: none;
                            }

                            header {
                                height: 70px
                            }

                            .logo {
                                width: 20%;
                                height: 30px;
                                float: left;
                                margin-top: 9px;
                                margin-left: 30px;
                            }

                            .Nombreusuario {
                                display: none;
                            }

                            .main-header {
                                display: flex;
                                float: right;
                                margin-top: -2px;
                                justify-content: space-between;
                                align-items: center;
                                background-color: transparent;
                                padding: 0 0.4rem;
                            }

                            .main-logo {
                                color: black;
                                font-size: 32px;
                                text-decoration: none;
                            }

                            .main-nav {
                                position: fixed;
                                top: 0;
                                left: 0;
                                height: 100vh;
                                width: 100%;
                                margin-left: -100%;
                                transition: all 0.2s linear;
                                z-index: 100;
                                background-color: rgba(0, 0, 0, 0.7);
                            }

                            .main-nav.show {
                                margin-left: 0;
                            }

                            .NombreusuarioM {
                                color: #FFFFFF;
                                margin-top: 20px;
                                margin-left: 30px;
                                text-align: left;
                            }

                            .nav-links {
                                background-color: #102461b0;
                                display: flex;
                                flex-direction: column;
                                width: 40%;
                                height: 100%;
                                align-items: left;
                                justify-content: flex-start;
                            }

                            .link-item {
                                margin-top: 1rem;
                                color: #ffffff;
                                text-decoration: none;
                                font-weight: bold;
                                position: relative;
                                margin-left: 30px;
                            }

                            .button-menu {
                                z-index: 200;
                                width: 40px;
                                height: 40px;
                                border: none;
                                display: flex;
                                background: none;
                                flex-direction: column;
                                /* Pondrá un span debajo del otro*/
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                            }

                            .button-menu span {
                                width: 37px;
                                height: 4px;
                                margin-bottom: 5px;
                                position: relative;
                                background: #ffffff;
                                border-radius: 3px;
                                transform-origin: 4px 0px;
                                transition: all 0.2s linear;
                            }

                            .button-menu.close span {
                                opacity: 1;
                                transform: rotate(45deg) translate(0px, 0px);
                                background: #ffffff;
                            }

                            .button-menu.close span:nth-child(2) {
                                transform: rotate(-45deg) translate(-8px, 5px);
                            }

                            .button-menu.close span:nth-child(3) {
                                display: none;
                            }

                            #mosaicoDER {
                                float: right;
                                width: 90px;
                                height: 90px;
                                margin-top: 0px;
                            }

                            #texto_atras {
                                font-size: 20px;
                            }

                            .h4 {
                                margin-left: 10%;
                                margin-top: 60px;
                                font-size: 20px;

                            }

                            .NotaCamposDetE {
                                margin-left: 25%;
                            }

                            .btnEditaDetE {
                                margin-right: -2%;
                                width: 120px;
                                height: 50px;
                            }

                            #mosaicoIZQ {
                                position: relative;
                                margin-bottom: -40px;
                                width: 90px;
                                height: 90px;
                            }

                            .site-footer {
                                padding-bottom: 0
                            }

                            .site-footer .copyright-text {
                                text-align: left;
                            }

                            .social-icons li.title {
                                display: block;
                                margin-right: 0;
                                font-weight: 600
                            }

                            .site-footer .social-icons {
                                text-align: right;
                            }

                            .copyright-text {
                                width: 350px;
                                margin-bottom: 10px;
                            }

                            @media screen and (max-width: 767px) and (min-width: 280px) {


                                #texto_atras {
                                    margin-left: -1%;
                                }

                                .nav-links {
                                    background-color: #102461b0;
                                    display: flex;
                                    flex-direction: column;
                                    width: 50%;
                                    height: 100%;
                                    align-items: left;
                                    justify-content: flex-start;
                                }

                                #searchInput {
                                    padding: 5px;
                                    width: 40%;
                                    margin-left: 20%;
                                }

                                .FondoEventosF {
                                    width: 80%;
                                    height: 420px;
                                    margin-left: 10%;
                                }

                                .NotaCamposDetE {
                                    margin-left: 15%;
                                    margin-top: -120px;
                                }

                                #MarcoHEF {
                                    width: 92%;
                                    margin-left: 4%;
                                }

                                .btnEditaDetE {
                                    font-size: 14px;
                                    margin-right: 16%;
                                    width: 150px;
                                    height: 45px;
                                }

                                #mosaicoIZQ {
                                    bottom: 38px;
                                    position: relative;
                                    margin-bottom: -62px;
                                    width: 90px;
                                    height: 90px;
                                }

                                .site-footer {
                                    padding-bottom: 0
                                }

                                .site-footer .footer-links {
                                    text-align: left;
                                    margin: 10px;
                                }

                                .site-footer hr {
                                    border-top-color: rgb(255, 255, 255);
                                    margin-top: 10px;
                                    opacity: 0.5
                                }

                                .site-footer .copyright-text {
                                    text-align: center;
                                    margin-left: 60px;
                                }

                                .site-footer .social-icons {
                                    text-align: left;
                                    margin-top: -200px;
                                    margin-left: -110px;
                                }

                                .copyright-text {
                                    width: 350px;
                                    margin-left: -10px;
                                    margin-bottom: 10px;
                                }

                                @media screen and (max-width: 521px) and (min-width: 280px) {
                                    #texto_atras {
                                        font-size: 16px;
                                    }

                                    #searchInput {
                                        padding: 5px;
                                        width: 30%;
                                        margin-left: 20%;
                                    }

                                    @media screen and (max-width: 480px) and (min-width: 280px) {
                                        #texto_etapa {
                                            font-size: 16px;
                                            margin-top: -30px;
                                        }

                                        .h4 {
                                            margin-left: 5%;
                                            margin-top: 80px;
                                            font-size: 18px;
                                        }

                                        .FondoEventosF {
                                            height: 450px;
                                        }

                                        .NotaCamposDetE {
                                            width: 50%;
                                            margin-top: -140px;
                                        }

                                        .site-footer {
                                            padding-bottom: 0
                                        }

                                        .site-footer .footer-links {
                                            text-align: left;
                                            margin: 10px;
                                        }

                                        .site-footer .copyright-text {
                                            text-align: center
                                        }

                                        .site-footer .social-icons {
                                            text-align: left;
                                            margin-top: -220px;
                                            margin-left: -110px;
                                        }

                                        .copyright-text {
                                            margin-bottom: 10px;
                                            width: 250px;
                                        }

                                        @media screen and (max-width: 399px) and (min-width: 280px) {
                                            .nav-links {
                                                width: 80%;

                                            }

                                            #btnBuscarTabla {
                                                width: 90px;
                                            }

                                            #mosaicoIZQ {
                                                bottom: -55px;
                                                position: relative;
                                                margin-bottom: 40px;
                                                width: 90px;
                                                height: 90px;
                                                margin-left: 5px;
                                            }

                                            .site-footer {
                                                padding-bottom: 0
                                            }

                                            .site-footer .footer-links {
                                                text-align: left;
                                                margin: 10px;

                                            }

                                            .site-footer .copyright-text {
                                                text-align: center
                                            }

                                            .site-footer .social-icons {
                                                text-align: left;

                                                margin-top: -230px;
                                                margin-left: -110px;
                                            }

                                            .copyright-text {
                                                width: 210px;
                                                margin-bottom: 10px;
                                            }

                                            @media screen and (max-width: 343px) and (min-width: 280px) {

                                                #texto_atras {
                                                    font-size: 14px;
                                                }

                                                .h4 {
                                                    font-size: 16px;
                                                }

                                                .FondoEventosF {
                                                    width: 90%;
                                                    height: 420px;
                                                    margin-left: 5%;
                                                }

                                                .NotaCamposDetE {
                                                    margin-left: 10%;
                                                    margin-top: -140px;
                                                    font-size: 16px;
                                                    width: 180px;

                                                }

                                                .my-custom-scrollbar-3 {
                                                    height: 250px;
                                                }

                                                .site-footer {
                                                    padding-bottom: 0
                                                }

                                                .site-footer .footer-links {
                                                    text-align: left;
                                                    margin: 10px;
                                                    font-size: 14px;
                                                }

                                                .site-footer .copyright-text {
                                                    text-align: center;
                                                }

                                                .site-footer .social-icons {
                                                    text-align: left;
                                                    margin-top: -250px;
                                                    margin-left: -110px;
                                                }

                                                .copyright-text {
                                                    width: 210px;
                                                    margin-bottom: 10px;
                                                }

                                                @media screen and (max-width: 310px) and (min-width: 280px) {
                                                    #texto_atras {
                                                        font-size: 14px;
                                                    }

                                                    .h4 {
                                                        font-size: 16px;
                                                    }

                                                    .site-footer {
                                                        padding-bottom: 0
                                                    }

                                                    .site-footer hr {
                                                        border-top-color: rgb(255, 255, 255);
                                                        margin-top: 60px;
                                                        opacity: 0.5
                                                    }

                                                    .site-footer .footer-links {
                                                        text-align: left;
                                                        margin: 10px;
                                                        font-size: 14px;
                                                    }

                                                    .site-footer .copyright-text {
                                                        text-align: center;
                                                    }

                                                    .site-footer .social-icons {
                                                        text-align: left;
                                                        margin-top: -240px;
                                                        margin-left: -110px;
                                                    }

                                                    .copyright-text {
                                                        width: 150px;
                                                        margin-bottom: 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}